/*--------------------------------------------------------------
# Components Forms
--------------------------------------------------------------*/
.form-falar {
  .select2 {
    height: calc(2.9rem + 2px);
    .selection {
      height: 100%;
      .select2-selection--single {
        height: 100%;
        display: flex;
        align-items: center;

        .select2-selection__arrow {
          height: 100%;

          width: 40px;
          b {
            border-width: 8px 6px 0 6px;
          }
        }
      }
    }

    &.select2-container--open {
      .selection {
        .select2-selection--single {
          .select2-selection__arrow {
            b {
              border-width: 0 6px 8px 6px;
              border-color: transparent transparent #888 transparent;
            }
          }
        }
      }
    }
  }
}

.select2-container--open {
  .select2-dropdown {
    .select2-search {
      display: none !important;
    }
  }
}
@media (max-width: 576px) {
  .form-group {
    .form-control {
      padding: 1rem 0.75rem;
      &:not(textarea) {
        height: calc(1.5rem + 2rem + 2px);
      }
    }
  }
}
